@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-image: linear-gradient(135deg, rgb(158, 39, 43), #572b60);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    font-family: 'Nunito', 'sans-serif';
}

.container {
    position: absolute;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.5);
    height: 80vh;
    width: 65%;
    border: 0;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls {
    position: absolute;
    margin: auto;
    height: 80vh;
    width: 60vw;
    border: 0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}

.controls-top {
    background-color: rgba(255, 255, 255, 0);
    height: 40vh;
    border: 0;
    border-radius: 8px 0 0 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.controls-bottom {
    background-color: rgba(255, 255, 255, 0);
    height: 40vh;
    border: 0;
    border-radius: 8px 0 0 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-left {
    background-color: rgba(255, 255, 255, 0.5);
    height: 80vh;
    width: 50%;
    border: 0;
    border-radius: 8px 0 0 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.container-right {
    background-color: rgba(255, 255, 255, 0);
    height: 80vh;
    width: 50%;
    border: 0;
    border-radius: 0 8px 8px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#container-left-player1 {
    animation: active 1s;
    animation-fill-mode: forwards;
}

#container-right-player2 {
    animation: inactive 1s;
    animation-fill-mode: forwards;
}

.player_number {
    font-size: 30px;
    font-weight: normal;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.player_number>p:last-child {
    font-size: 5rem;
    color: #c7365f;
}

.middle p {
    font-size: 4rem;
    color: #c7365f;
    font-weight: bold;
}

#player-1-title {
    font-size: 2rem;
    font-weight: bold;
}

#player-2-title {
    font-size: 2rem;
    font-weight: normal;
}

.currentScore {
    color: #fff;
    padding: 20px 60px;
    border-radius: 8px;
    background: #c7365f;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.currentScore>p:first-of-type {
    padding: 0 0 15px 0;
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
}

.currentScore>p+p {
    font-size: 2rem;
    font-weight: normal;
    text-align: center;
}

button {
    background-color: rgb(255, 255, 255, 0.75);
    font-size: 1rem;
    padding: 8px 15px;
    color: #6f6f6f;
    border-radius: 25px;
    border: 0;
}

button:hover {
    cursor: pointer;
    color: rgb(255, 255, 255, 0.75);
    background-color: #6f6f6f;
}

.new-game {
    width: 10vw;
    margin-bottom: 25px;
}

.roll-dice {
    margin-bottom: 5px;
}

.hold {
    margin-top: 5px;
}

@keyframes active {
    from {
        background-color: rgba(255, 255, 255, 0);
    }

    to {
        background-color: rgba(255, 255, 255, 0.5);
    }
}

@keyframes inactive {
    from {
        background-color: rgba(255, 255, 255, 0.5);
    }

    to {
        background-color: rgba(255, 255, 255, 0);
    }
}